:root { 
  --black: #000000;
  --white: #ffffff;
  --green: #35532c;
 
  --font-size-l: 40px;
  --font-size-m: 24px;
  --font-size-s: 22px;
  --font-size-xs: 20px;
 
  --font-family-04b-30: "04b-30", Helvetica;
}
.04b-30-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-04b-30);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.04b-30-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-04b-30);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.04b-30-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-04b-30);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
